.site {
    background-color: #F5F5F5;
}
.fundot1 {
    background-color: #C7C7C7;
    top: -54px;
    left: -8px;
    position: relative;
    height: 82px;
    width: 1920px;
}
.titulo1 {
    font-size: 56px;
}
.textot1 {
    position: relative;
    width: 769px;
    top: -43px;
    left: 77px;
}
.intro {
    font-size: 60px;
    text-align: center;
}
.separa1 {
    position: relative;
    left: -8px;
    top: -29px;
}
@media( max-width: 480px ) {
    .container {
    width: 300px;
    height: 150px;
    }
}