@font-face {
    font-family: "inter";
    src: url("./Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "intersb";
    src: url("./Inter-SemiBold.ttf") format("truetype");
}
body {
    max-width: 100%;
    font-family: "inter";
}
.site {
    background-color: #D9D9D9;
}
.fundot1 {
    background-color: #C7C7C7;
    top: -54px;
    left: -8px;
    position: relative;
    height: 82px;
    width: 101.18%;;
}
.titulo1 {
    font-size: 50px;
    top: 20px;
    position: relative;
}
.textot1 {
    position: relative;
    width: 769px;
    top: -54px;
    left: 48px;
}
.intro {
    font-size: 43px;
    text-align: center;
}
.separa1 {
    position: relative;
    top: -29px;
    left: -8px;
    width: 101.18%;
}
.componentes {
    text-align: center;
    font-size: 42px;
    position: relative;
    top: -36px;
}
.separa2 {
    position: relative;
    top: -71px;
    left: -8px;
    width: 101.18%;
}
.fundot2 {
    background-color: #797979;
    width: 387px;
    position: relative;
    height: 278px;
    top: -69px;
    right: 8px;
}
.h2k {
    text-align: center;
    font-size: 23px;
}
.chassi {
    position: inherit;
    height: 220px;
    top: -10px;
}
.chassit {
    position: relative;
    font-size: 37px;
    left: 481px;
    top: -329px;
    font-family: "intersb";
    width: 190%;
    height: 56%;
    text-align: center;
}    